Course 2/conFusion/bower_components/
Course 3/conFusion/bower_components/
Course 3/conFusion/node_modules/
Course 3/conFusion/dist/
Course 3/json-server/public/
.idea
Course 4/node_modules/
Course 4/conFusion/app/**/*.js
Course 4/conFusion/app/global.d.ts
Course 4/conFusion/node_modules
Course 4/conFusion/tags
Course 4/conFusion/platforms
Course 4/conFusion/**/*.js.map
Course 4/conFusion/**/*.metadata.json
New_Course_2/Angular/conFusion/node_modules